/* style.css */

:root{
    --fontColor: rgb(224, 223, 219);
    --background: rgb(190, 188, 185);
    --darkText: rgb(43, 40, 40);
    --darkBackground: rgb(83, 83, 83)
}
body{
    background-color: var(--darkBackground);
}
#song{
    border-radius: 20px;
}

img{
    border-radius: 10%;
    height: 280px;
}

#readMore, #readLess{
    background: none;
    border: none;
    border-radius: 10px;
    color: var(--darkText);
    padding: 5px;
    flex-direction: row;
    display: block;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    transition: transform .2s;
}

#readMore:hover, #readLess:hover{
    transform: scale(1.1);
}

.moreText{
    display: none;
}

.dots{
    display: "block";
    color: var(--darkText);
}

.album{
    display: flex;
    flex-direction: row;
    background-color: var(--background);
    padding: 1em;
    border-radius: 20px;
    align-items: center;
    margin: 2em 0;
}

p.info{
    font-size: 1.2em;
    margin-left: 2em;
    color: var(--darkText);
}

p{
    font-size: 1.5em;
    color: var(--fontColor);
    line-height: 1.5em;
}

h1, h3{
    color: var(--fontColor);
}

.banner{
    margin-bottom: 1em;
    padding: 1em;
}
.banner, .banner h1{
    background-color: var(--background);
    color: var(--darkText);
    text-align: center;
    border-radius: 20px;
}

.banner h1{
    margin-bottom: .5em;
}

footer{
    margin: 2em auto;
    color: var(--fontColor);
    text-align: center;
}
